*{
    margin: 0px;
    padding: 0px;
}
li{
  list-style: none;
}
html,body{
  height: 100%;
  width: 100%;
  
}
#app{

  height: 100%;
  box-sizing: border-box;
}

#header{
  line-height: 70px;
  height: 70px;
  padding: 0px 40px;
  width: 100%;
  box-sizing: border-box;
  background-color: aliceblue;
  }
  #logo{
    text-decoration: none;
    display:block;
    float: left;
    margin-right: 60px;
    color: #000;
  }
  #nav{
      float: left;
  }
  #nav li {
    list-style: none;   
    margin-right: 40px;
    float: left;
  }
  #user{
    float: right;
  }
  .active{
      color: #f00;
  }
  a{
      text-decoration: none;
      color: #000;
  }

  #main{
    padding: 30px;
  }
 
  #itemUl li{
    list-style: none;
    float: left;
    width: 18%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 1%;
    border: 1px solid rgb(104, 98, 98);
  }
 
  .imgDiv{
    width: 180px;
    height: 180px;
    margin: 0 auto;
  }

  .imgDiv img{
    width: 100%;    
    box-sizing: border-box;
    
  }
  .text{
    text-align: center;
  }
  .price{
    text-align: center;
    color: #f00;
  }
  .btn{
    text-align: center;
  }
  /* 分页 */
  #pageContainer{
    float: right;      
    text-align: right;
  }
  #pageContainer li{   
    list-style: none;
    float: left;
    padding:1px 4px;
    text-align: center;
    margin:0px 10px;
    border: 1px solid #000;
  }
  /* 购物车 */
  #formTitle{
    height: 40px;
    line-height: 40px;
    background-color: #b0a7a421;
  }

  #formTitle li{
    list-style: none;
    margin: 0 15px;
    float: left;
    text-align: center;
  }

  #formMain li{
    background-color: #b0a7a421;
    line-height: 70px;
    display: block; 
    height:70px;
    margin: 4px;
    box-sizing: border-box;
}   
  
 .divCount input{
  width: 40px;
  height: 20px;
  vertical-align: text-bottom;
 }
  .divCount button{
    width: 26px;    
    font-size: 28px;
    line-height: 18px;
  }
  .divOperate {
    width: 70px;
  }
  .divOperate button{
    width: 40px;
    height: 25px;
    font-size: 16px;
  }
.goodsImg{
  width: 34px;
}
.goodsName{
  width: 210px;
}
.goodsPrice{
  width: 126px;
}
.goodsCount{
  width: 90px;
}
.goodsCost{
  width: 165px;
}
.goodsOpe{
  width: 70px;
}

  #formTitle::after{
    clear: both;
    content: "";
  } 
  #formMain li div {   
    display: inline-block;
    margin: 0 15px;
    text-align: center;
  }
  
 .imgLi{
   width: 70px;
 }
  .imgLi img{
    width: 60px;
    height: 60px;
    vertical-align: middle;

  }
  /* 立即支付 */
  #formTotal{
   
    text-align: center;
  }
  .payButton{   
    width: 170px;
    height: 60px;
    font-size: 30px;
    padding: 4px;
    color: aliceblue;
    background-color: #ccc;

  }
  .payActive{
    color: #fff;
    background-color: #f00;
    border: 0px;
  }


  
